@import 'tailwindcss';

@theme {
	--color-background: oklch(0.961 0.001 95);
	--color-primary: oklch(0.15 0.01 260);
	--color-secondary: oklch(0.58 0.02 260);
	--color-surface: oklch(0.99 0 95);
}
* {
	box-sizing: border-box;
}

:root {
	/* font-family: 'Roboto', sans-serif; */
}

:root[data-theme='light-black'] {
	--color-background: oklch(0.975 0.0005 95);
	--color-primary: oklch(0.15 0.01 260);
	--color-secondary: oklch(0.58 0.02 260);
	--color-surface: oklch(0.99 0 95);
}

:root[data-theme='dark-black'] {
	--color-background: oklch(0.18 0.01 260);
	--color-surface: oklch(0.22 0.01 260);
	--color-primary: oklch(0.88 0.01 260);
	--color-secondary: oklch(0.7 0.01 260);
}
:root[data-theme='light-blue'] {
	--color-background: oklch(1 0.005 220);
	--color-surface: oklch(1 0.005 220);
	--color-primary: oklch(0.15 0.35 220);
	--color-secondary: oklch(0.7716 0.1387 9.66);
}

:root[data-theme='dark-blue'] {
	--color-background: oklch(0.18 0.03 265);
	--color-surface: oklch(0.25 0.04 265);
	--color-primary: oklch(0.72 0.17 272);
	--color-secondary: oklch(0.7716 0.0818 9.66);
}

:root[data-theme='light-rose'] {
	--color-background: oklch(0.998 0.003 140 / 0.65);
	--color-surface: oklch(0.985 0.0045 140);
	--color-primary: oklch(0.2993 0.052766 184.9077);
	--color-secondary: oklch(0.4491 0.1816 28.21);
}

:root[data-theme='dark-rose'] {
	--color-background: oklch(0.15 0.015 240);
	--color-surface: oklch(0.22 0.018 240);
	--color-primary: oklch(0.8461 0.1078 156.74);
	--color-secondary: oklch(0.66 0.1905 16.94);
}
